.wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--default-color);
}

.container {
    display: flex;
    width: var(--default-layout-width);
    justify-content: space-between;
    /* hoặc các thuộc tính tương tự để căn chỉnh */
    align-items: center;
}

.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 0;
    height: 100%;
}

.nav-item>a {
    color: #fff;

}

.subnav {
    display: none;
    flex-direction: column;
}

li a {
    width: 100%;
}

li {
    min-width: 124px;
}