@import 'normalize.css';
//@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
    --default-layout-header-height: 102px;
    --default-layout-width: 1170px;
    --default-color: #e87121;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    text-rendering: optimizeSpeed;
}
li {
    list-style-type: none;
}