.nav {
    display: flex;
    position: relative;
        margin-left: 256px;
    width: 100%;
    justify-content: space-between;
    /* hoặc các thuộc tính tương tự để căn chỉnh */
    align-items: center;
}

.nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid black;
    border-right: 1px solid black;

    width: 124px;
    height: 100%;
}

.subnav {
    display: none;
    flex-direction: column;
}

li a {
    width: 100%;
}
li {
    min-width: 124px;
}